.hero-section {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('../images/landing-image.png');
    background-size: cover;
    background-position: center;
}
